{% extends "base.html" %}

{% block nav_links %}
<li><a href="/settings" class="secondary btn-compact">{{ i18n.settings }}</a></li>
<li id="current-state-container" class="state-indicator" hx-get="/api/state" hx-trigger="load, every 5s" hx-swap="innerHTML">
    {{ i18n.loading_details }}
</li>
{% endblock %}

{% block content %}
<section id="stats-section">
    <div id="stats-container" hx-get="/api/stats" hx-trigger="every 60s" hx-swap="innerHTML">
        {% include 'stats_rows.html' %}
    </div>
</section>
{% endblock %}

{% block modals %}
    {% include 'modals/comment_modal.html' %}
    {% include 'modals/window_stats_modal.html' %}
{% endblock %}
